/* common CSS for deployed bb4 projects */

html {
    overflow-x: visible;
}

body {
    color: #000000;
    font-family: arial, sans-serif;
    font-size: 14px;
    background-color: #FDFFFE;
    padding-left: 12px;
    padding-right: 14px;
    overflow-x: hidden;
}

h1 {
    text-align: center;
}

table, tbody {
   text-align: left;
    font-size: 16px;
   border-collapse: collapse;
}

table td {
    vertical-align: top;
    padding: 5px;
    border: 1px solid #88a099;
}

table td img {
    width: 400px;
    height: 250px;
}
